<mat-toolbar>
  <h1>Transports de la Metro</h1>
  <div class="space"></div>
  <button mat-raised-button color="primary"
          *ngIf="dataInitializedObs | async"
          (click) = "openDialogLines()"
  >
    Lignes
  </button>
  <mat-spinner *ngIf="!(dataInitializedObs | async)"></mat-spinner>
</mat-toolbar>

<yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
  <yaga-tile-layer [url]="tileLayer"></yaga-tile-layer>
  <yaga-marker [lng] = "5.724524"
               [lat] = "45.188529"
               [display] = "true"
               [opacity] = "1"
  >
    <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
  </yaga-marker>
</yaga-map>

<section *ngIf="dataInitializedObs | async">
  Initialisation terminée !
  <p>Il y a {{arrets.length}} arrêts.</p>
  <p>Il y a {{lignes.length}} lignes de transports.</p>
</section>
