<mat-toolbar>
  <h1>Transports de la Metro</h1>
  <div class="space"></div>
  <button mat-raised-button color="primary"
          *ngIf="dataInitializedObs | async"
          (click) = "openDialogLines()"
  >
    Lignes
  </button>
  <mat-spinner *ngIf="!(dataInitializedObs | async)"></mat-spinner>
</mat-toolbar>

<yaga-map [lng]="5.724524" [lat]="45.188529" [zoom]="12">
  <yaga-tile-layer [url]="tileLayer"></yaga-tile-layer>
  <yaga-feature-group *ngFor="let ligneDescr of lignesDescrObs | async">
    <yaga-polyline [geoJSON]="geoJSON(ligneDescr)"
                   [color]="getColor(ligneDescr)"
    ></yaga-polyline>
  </yaga-feature-group>
  <yaga-feature-group *ngFor="let anim of LanimPoints | async">
    <yaga-marker *ngIf = "anim | async as pt"
                 [lat] = "pt[1]"
                 [lng] = "pt[0]"
                 [display] = "true"
                 [opacity] = "1"
    >
      <yaga-icon [iconUrl]="iconMarker"></yaga-icon>
    </yaga-marker>
  </yaga-feature-group>
</yaga-map>

<section>
  <h3>Voyage en bus</h3>
  <mat-form-field>
    <mat-label>Ligne</mat-label>
    <mat-select [(ngModel)]="lignePourParcours">
      <mat-option *ngFor="let ligneDescr of lignesDescrObs | async"
              [value]="ligneDescr"
              >
        {{ligneDescr.properties.LIBELLE}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button
          color="primary"
          [disabled]="!lignePourParcours"
          (click) = "Parcourir(lignePourParcours)"
          >En route!</button>
</section>
